<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.maxproit.salesforce2">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:name="net.maxproit.salesforce2.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="net.maxproit.salesforce2.feature.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.maxproit.salesforce2.feature.dashboard.DashboardSalesOfficerActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.login.LoginActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.upload.UploadActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.dashboard.DashboardVirifierActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.dashboard.supervisor.DashboardSupervisorActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorProspectActivity" />
        <activity
            android:name="net.maxproit.salesforce2.feature.search.SearchUserActivity"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name="net.maxproit.salesforce2.masum.activity.lead.MyLeadActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="net.maxproit.salesforce2.masum.activity.myperformance.MyPerformanceAllListActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.lead.SupervisorLeadActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorVisitsActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorSanctionActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorDisbursementActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorSalesofficerCifActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorSalesofficerNameActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.MyPerfomanceActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.parallelprocess.cif.CifActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.parallelprocess.cib.CibActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.parallelprocess.cib.CibActivityNew" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.disbursement.MyPerfomanceDisbursementsActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.MyPerfomanceProspectActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.MyPerfomanceLeadActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.MyPerfomancFollowUpCallsActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.MyPerfomanceSanctionActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.MyPerformanceVisitsActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.CibCifRequestActivity" />
        <activity
            android:name="net.maxproit.salesforce2.masum.activity.DeviationActivity"
            android:label="Deviation Request"
            android:theme="@style/Theme.AppCompat.Light.Dialog.MinWidth" />
        <activity android:name="net.maxproit.salesforce2.feature.virifier.VirifierListActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.virifier.VerifierActivity" />
        <activity
            android:name="net.maxproit.salesforce2.feature.salesOfficer.parallelprocess.cib.CibDialog"
            android:label="Cib Request"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.parallelprocess.cif.CifActivityNew" />
        <activity
            android:name="net.maxproit.salesforce2.feature.salesOfficer.parallelprocess.cif.CifDialog"
            android:label="Cif Request"
            android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" />
        <activity android:name="net.maxproit.salesforce2.feature.upload.UploadProspectActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.daviation.DaviationListActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.prospectview.ProspectViewActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGtDC-bNybal6562n0HfNhxM1nzWiRbuQ" />

        <activity
            android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.disbursement.DisbursementSearchActivity"
            android:theme="@style/AppThemeDialog" />
        <activity
            android:name="net.maxproit.salesforce2.feature.salesOfficer.myPerfomance.disbursement.DisbursementsActivity"
            android:theme="@style/AppThemeDialog" />
        <activity android:name="net.maxproit.salesforce2.feature.dashboard.supervisor.MainDashboardSupervisorActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.daviation.NewDeviationActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorFollowUpActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.salesOfficer.SalesOfficerDisbursementActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.supervisor.SupervisorMaiProspectActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.visitplan.VisitPlanActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.lead.LeadStageActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.prospect.ProspectStageActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.visitplan.MyActivitiesActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.visitplan.VisitPLanDetailsActivity" />
        <activity android:name="net.maxproit.salesforce2.ProspectViewRbm" />
        <activity android:name="net.maxproit.salesforce2.MyPerformancePhaseTwo" />
        <activity android:name="net.maxproit.salesforce2.SupervisorRbmProspect" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.visitplan.VisitPlanListActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.prospect.co_applicant.CoApplicantActivity" />
        <activity android:name="net.maxproit.salesforce2.CoApplicantRbmView" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.prospect.MyProspectFragmentActivity" />
        <activity android:name="net.maxproit.salesforce2.util.PdfViewer" />
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"/>
        <receiver
            android:name="net.maxproit.salesforce2.masum.reciever.NetworkMonitor"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name="net.maxproit.salesforce2.feature.login.RegistrationActivity" />
        <activity android:name="net.maxproit.salesforce2.feature.login.PasswordActivity" />
        <activity android:name="net.maxproit.salesforce2.masum.activity.myperformance.MyPerformanceAllDetailActivity"></activity>
    </application>

</manifest>